coverage
dist
node_modules
*.log
package-lock.json
.*
!*/*.babelrc.js
!.dockerignore
!.editorconfig
!.eslintignore
!.eslintrc
!.gitignore
!.gitlab-ci.yml
!.npmignore
!.storybook
!.npmrc
!.svgrrc.js
!.prettierignore
!.lintstagedrc.js
